.employee{
    margin-top: 30px;
    background-color: rgb(182, 182, 182);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 8px -4px lightblue;
}

.employee-image{
    text-align: center;
}

.employee img{
    border-radius: 50%;
    height: 30%;
    width: 30%;
    text-align: center;
}

.employee-info{
   text-align: center;
}

.employee-info .name{
    text-transform: uppercase;
}

.employee-info .department{
    text-transform: uppercase;
}

.btn-add{
    background-color: rgb(78, 79, 80);
    padding: 10px;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}